.step{
  display: flex;
  overflow: hidden;
  .s-left{
    display: flex;
    flex: 1;
    align-items: center;

  }


  .s-center{
    display: flex;
    flex: 1;
    align-items:center;
    justify-content:center;
  }
  .s-right{
    display: flex;
    flex: 4;
    align-items: center;
    input{
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 5px;
    }
  }

  .s-right-1{
    flex: 1;
  }

  .s-j-end{
    justify-content:flex-end;
  }
  .s-j-center{
    justify-content:center;
  }
}

.border-bottom{
  border-bottom: 1px solid #ddd;
}



.app-menu{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  display: flex;
  .menu-option{

    width: 33.33%;
    text-align: center;
  }

  .img{
    vertical-align:middle;
  }


  .div-text{
    text-align: center;
    width: 100%;
    color: #666;
  }

}
